:root {
  --body-font: "DotGothic16", sans-serif;
  --body-width: 100vw;
  --body-height: 100vh;
  --color-title: #132a13;
  --color-border-title: #ff70a6;
  --var-colorOne: #152528;
  --var-colorSix: #1bee9a;
}

body {
  font-family: var(--body-font);
  width: var(--body-width);
  height: var(--body-height);
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.div__title-game-conteiner {
  border: 5px solid var(--color-border-title);
  margin: 15px 570px;
}

.h1__title-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-title);
  height: 15px;
  font-size: 30px;
}

.h2__title-section {
  text-align: center;
}

.h2__title-recordatorios {
  text-align: center;
}

.div__recordatorio-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.div__recordatorio-conteiner p {
  font-size: 30px;
}

.div__button-conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.div__button-conteiner a {
  margin: 20px 30px;
}
.div__button-conteiner a button {
  color: var(--color-title);
  background-color: var(--var-colorSix);
  font-size: 30px;
  cursor: pointer;
  margin: 0 15px 30px 15px;
  border: 4px solid var(--var-colorOne);
}
.div__button-conteiner a button:hover {
  background-color: black;
  color: white;
  border: 4px solid black;
}
